[Desktop Entry]
Name=Chromium Web Browser
Comment=Access the Internet
GenericName=Web Browser
Exec=/home/mike/.local/bin/chromium-browser %U
Terminal=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Chromium-browser
Keywords=web;browser;internet;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=Open a New Window
Exec=/home/mike/.local/bin/chromium-browser %U

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=/home/mike/.local/bin/chromium-browser --incognito %U
